.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "log log log men men men men men men pho pho pho" "cat cat cat sea sea sea sea sea sea sho sho sho";
    margin-top: 1.25rem;
}

.company-logo {
    background-color: var(--body-background-color);
    grid-area: log;

}

.main-menu {
    background-color: var(--body-background-color);
    grid-area: men;
}

.phone-info {
    background-color: var(--body-background-color);
    grid-area: pho;
}

.categories {
    background-color: var(--bar-background-color);
    grid-area: cat;
}

.search-box {
    background-color: var(--bar-background-color);
    grid-area: sea;
}

.shopping-info {
    background-color: var(--bar-background-color);
    grid-area: sho;
}

.menu-icon {
    cursor: pointer;
}

.header-icon {
    font-size: 1.5em;
    padding: 0.5em;
    flex-flow: row;
}

.search-products {
    padding: 0.3em 1em;
}

.search-icon {
    background-color: black;
    padding: 0.3em 1em;
}

.dropdown-toggle:focus {
    box-shadow: none;
}

.departament, .header-icon, .search-icon, .departament:hover {
    color: white;
}

@media screen and (max-width: 680px) {
    .header {
        grid-template-rows: auto auto auto;
        grid-template-areas: "log log log log log log pho pho pho pho pho pho" "cat cat cat cat cat cat cat cat cat cat cat cat" "sho sho sho sho sho sho sho sho sho sho sho sho";
    }
    .search-box {
        display: none;
    }
    .main-menu {
        display: none;
    }
}