<div class="dashboard">
    <div class="product-title">
        <h4>Titulo Del Producto</h4>
    </div>
    <div class="product-image-big">
        <img src="assets/img/producto1.jpg" alt="Producto 1" class="product-image-big-size">
    </div>
    <div class="product-image-small">
        <img src="assets/img/producto1.jpg" alt="Producto 1" class="product-image-small-size">
        <img src="assets/img/producto1.jpg" alt="Producto 1" class="product-image-small-size">
        <img src="assets/img/producto1.jpg" alt="Producto 1" class="product-image-small-size">
    </div>
    <div class="product-description">
        <h5>Descripcion Breve</h5>
        <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <hr>
        <p>Precio: 100$</p>
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle d-variant" data-toggle="dropdown">
                Variantes
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Variante 1</a>
                <a class="dropdown-item" href="#">Variante 2</a>
                <a class="dropdown-item" href="#">Variante 3</a>
            </div>
        </div>

    </div>
    <div class="product-payment cell-center">
        <button type="button" class="btn payment-option">Añadir al carrito <i class="fas fa-shopping-cart"></i></button>
        <button type="button" class="btn payment-option">Incluir en la lista de deseos</button>
    </div>
    
</div>