<div class="dashboard">
    <div class="login-text">
        <p class="parrafo"><a href="#!">Home</a> > Log In</p>
        <h2 id="account">LOGIN OR CREATE AN ACCOUNT</h2>
    </div>
    <div class="login-form" >
        <h3 class="legend">MEMBER LOGIN</h3>
        <p>If you have an account with us, please log in.</p>
        <form #formLogin="ngForm" action="/action_page.php" autocomplete="on" method="POST">
            <label for="email" class="required">Email<em>*</em></label>
            <input [(ngModel)]="email" type="email" name="email" autofocus placeholder="Email *" required maxlength="255">
            <label for="password" class="required">Password<em>*</em></label>
            <input [(ngModel)]="password" type="password" name="password" placeholder="Password *" required maxlength="255">

            <div>
                <p class="required">* Required Fields</p>
                <button type="submit" title="Submit" class="btn-primary">
                    <span>Login</span>
                </button>
                <p><a href="#">Forgot your password?</a></p>
            </div>
        </form>

    </div>
    <div class="create-account-form">
        <h3 class="legend">CREATE AN ACCOUNT</h3>
        <p>By creating an account with our store, you will be able to move through the checkout process
            faster, store
            multiple
            shipping addresses, view and track your orders in your account and more.</p>

            <div *ngIf="authService.user$ | async as user; else login">
                {{ user | json}}
                <hr>
                <button class="btn-primary" (click)="authService.signOut()">Sign Out</button>
            </div>

            <ng-template #login>
              <button class="btn-primary" (click)="authService.googleSignin()">Login with Google</button>
            </ng-template>

        <!-->button routerLink="/createAccount" type="submit" title="Submit" class="btn-primary">
            <span>CREATE AN ACCOUNT</span>
        </button-->
    </div>

</div>
