<div class="footer cell-center">
  <div class="footer-left margin-top">
    <div id="footer-left-info">
      <h5>Information</h5>
      <ul class="footer-list link-black">
        <a href="#!">
          <li>About Us</li>
        </a>
        <a href="#!">
          <li>Terms Of Use</li>
        </a>
        <a href="#!">
          <li>Privacy Police</li>
        </a>
        <a href="#!">
          <li>Customer Reviews</li>
        </a>
      </ul>
    </div>
  </div>

  <div class="footer-center-left margin-top">
    <div id="Footer-center-left-info">
      <h5>Orders & Returns</h5>
      <ul class="footer-list link-black">
        <a href="#!">
          <li>Order Status</li>
        </a>
        <a href="#!">
          <li>Shipping</li>
        </a>
        <a href="#!">
          <li>Return & Exchange Promise</li>
        </a>
        <a href="#!">
          <li>Guarantee</li>
        </a>
      </ul>
    </div>

  </div>

  <div class="footer-center-right margin-top">
    <div id="footer-center-right-info">
      <h5>Support & Services</h5>
      <ul class="footer-list link-black">
        <a href="#!">
          <li>Customer Service</li>
        </a>
        <a href="#!">
          <li>Protection Plans</li>
        </a>
        <a href="#!">
          <li>Product Recalls</li>
        </a>
        <a href="#!">
          <li>Delivery</li>
        </a>
      </ul>
    </div>

  </div>

  <div class="footer-right margin-top">
    <div id="footer-right-info">
      <h5>My Account</h5>
      <ul class="footer-list link-black">
        <a href="#!">
          <li>Login/Register</li>
        </a>
        <a href="#!">
          <li>Order History</li>
        </a>
        <a href="#!">
          <li>Adress Book</li>
        </a>
        <a href="#!">
          <li>Wish List</li>
        </a>
      </ul>
    </div>

  </div>

    <div class="social-media">
      <a href="#!" class="social-media-icon"><i class="fab fa-twitter"></i></a>
      <a href="#!" class="social-media-icon"><i class="fab fa-instagram"></i></a>
      <a href="#!" class="social-media-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#!" class="social-media-icon"><i class="fab fa-pinterest"></i></a>
      <a href="#!" class="social-media-icon"><i class="fab fa-youtube"></i></a>
    </div>

  <div class="credit-card">
    <img src="/assets/img/payments.png" alt="Credit Cards">
  </div>


</div>