.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 20px auto 20px auto 20px;
    grid-template-areas: 
    "fle fle fle fcl fcl fcl fcr fcr fcr fri fri fri" 
    "... ... ... ... ... ... ... ... ... ... ... ..."
    "... ... ... ... soc soc soc soc ... ... ... ..." 
    "... ... ... ... ... ... ... ... ... ... ... ..." 
    "ccd ccd ccd ccd ccd ccd ccd ccd ccd ccd ccd ccd"
    "... ... ... ... ... ... ... ... ... ... ... ...";
    background-color: rgb(223, 211, 211);
    z-index: 1019;
}

.margin-top{
    margin-top: 1em;
}

.footer-left {
    grid-area: fle;
}

.footer-center-left {
    grid-area: fcl;
}

.footer-center-right {
    grid-area: fcr;
}

.footer-right {
    grid-area: fri;
}

.social-media {
    grid-area: soc;
}

.credit-card {
    grid-area: ccd;
}

@media screen and (max-width: 680px) {
    .footer {
        padding-left: 1em;
        grid-template-rows: auto auto auto auto 50px;
        grid-template-areas: "fle fle fle ... ... ... ... ... ... ... ... ..." "fcl fcl fcl ... ... ... ... ... ... ... ... ..." "fcr fcr fcr ... ... ... ... ... ... ... ... ..." "fri fri fri ... ... ... ... ... ... ... ... ..." "... ...soc soc soc soc soc soc soc soc ... ...";
    }
    .credit-card {
        display: none;
    }
}

.footer {
    flex-flow: column;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 90%;
}

.social-media-icon {
    color: black;
    padding: 0.5em;
    font-size: 1.4em;
}