<div class="dashboard">
    <div class="main-text">
        <p class="parrafo"><a href="#!">Home</a> > Payment</p>
        <h2 id="transaction">STEP 2 - PAYMENT METHOD</h2>
    </div>
    <div class="paypal-option">
        <h3 class="legend">PAYPAL</h3>
        <p>You may use PayPal to pay for your products</p>
        <img src="assets/img/PayPalB.png" alt="Paypal Module" class="paypal-img cell-center">
        
    </div>
    
    <div class="pdf-option">
        <h3 class="legend">PURCHASE ORDER (PDF)</h3>
        <p>or you may generate a purchase order and download it as a .pdf file</p>
        <button type="submit" title="Submit" class="btn-primary">
            <span>GENERATE</span>
        </button>
        <form action="/action_page.php" autocomplete="on" method="POST">
            
        </form>  
    </div>

</div>
